---
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
NamespaceIndentation: All
#AllowShortFunctionsOnASingleLine: false
ColumnLimit: 140
SpacesInParentheses: true
SpaceBeforeParens: Never
DerivePointerAlignment: false
PointerBindsToType : true
BreakConstructorInitializersBeforeComma: true
IncludeBlocks: Preserve
